@import "@/static/styles/variables.scss";
@import "@/static/styles/mixins.scss";

.header {
    position: relative;
    padding: 20px;
    margin-top: -2px;
    z-index: 2;
    border-radius: 16px;
    border: 2px solid white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > svg {
        @include tablet {
            width: 200px;
            height: auto;
        }

        @include small-tablet {
            width: 170px;
        }
    }

    @include mobile {
        justify-content: center;
    }
}

.header__nav {
    display: flex;

    &--link {
        margin-right: 40px;
        font-weight: 400;
        font-size: 18px;
        text-decoration: none;
        transition: color 0.5s ease-out;
        position: relative;
        color: $white;

        &:hover {
            color: $primary;

            &::after {
                width: 100%;
            }
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 0%;
            height: 2px;
            background-color: $primary;
            bottom: -5px;
            transition: width 0.3s ease-in-out;
        }

        &:last-child {
            margin-right: 0;
        }

        @include tablet {
            font-size: 16px;
            margin-right: 20px;
        }
    }

    @include small-tablet {
        display: none;
    }
}
