@import "@/static/styles/variables.scss";
@import "@/static/styles/mixins.scss";

.header {
    position: relative;
    margin-top: 30px;
    padding: 12px;
    z-index: 2;
    border-radius: 16px;
    background-color: $white;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > svg {
        @include tablet {
            width: 200px;
            height: auto;
        }

        @include small-tablet {
            width: 170px;
        }
    }

    @include mobile {
        justify-content: center;
    }
}

.header__nav {
    display: flex;

    &--link {
        margin-right: 40px;
        font-weight: 400;
        font-size: 18px;
        text-decoration: none;
        transition: color 0.5s ease-out;
        position: relative;
        color: $black;

        &:hover {
            color: $primary;

            &::after {
                width: 100%;
            }
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 0%;
            height: 2px;
            background-color: $primary;
            bottom: -5px;
            transition: width 0.3s ease-in-out;
        }

        &:last-child {
            margin-right: 0;
        }

        @include tablet {
            font-size: 16px;
            margin-right: 20px;
        }
    }

    @include small-tablet {
        display: none;
    }
}
