@import 'variables.scss';
@import 'mixins.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family-primary;
    height: 100vh;
    min-height: 100vh;
    color: $white;
    background-color: $dark;
}

img {
    pointer-events: none;
}

.wrapper {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
}

.stroke {
    color: transparent;
    -webkit-text-stroke: $white;
    -webkit-text-stroke-width: 2px;
}