@import 'variables.scss';
@import 'mixins.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family-primary;
    height: 100vh;
    min-height: 100vh;
    color: $black;
}

img {
    pointer-events: none;
}

.wrapper {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}