// Utils
@mixin absolute-vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin absolute-horizontal-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Hover, Links
@mixin hover-opacity {
    transition: opacity 0.2s;
    &:hover {
        opacity: 0.7;
    }
}

// bg-cont
@mixin bg-cont-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include absolute-center;
    }
}

@mixin strokeText($size, $color) {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: $size;
    -webkit-text-stroke-color: $color;
    &::selection {
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: transparent;
        -webkit-text-stroke-color: transparent;
    }
}

@mixin desktop {
  @media (max-width: (1440px)) {
    @content;
  }
}

@mixin laptop {
    @media (max-width: (1280px)) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: (1024px)) {
        @content;
    }
}

@mixin small-tablet {
    @media (max-width: (768px)) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: (576px)) {
        @content;
    }
}