// Utils
@mixin absolute-vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin absolute-horizontal-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// max-width queries
@mixin media-max-s {
    @media screen and (max-width: $breakpoint-small-max) {
        @content;
    }
}

@mixin media-max-m {
    @media screen and (max-width: $breakpoint-medium-max) {
        @content;
    }
}

@mixin media-max-l {
    @media screen and (max-width: $breakpoint-large-max) {
        @content;
    }
}

@mixin media-max-xl {
    @media screen and (max-width: $breakpoint-xlarge-max) {
        @content;
    }
}

// min-width queries
@mixin media-min-s {
    @media screen and (min-width: $breakpoint-small-min) {
        @content;
    }
}

@mixin media-min-m {
    @media screen and (min-width: $breakpoint-medium-min) {
        @content;
    }
}

@mixin media-min-l {
    @media screen and (min-width: $breakpoint-large-min) {
        @content;
    }
}

//@mixin media-min-xl {
//	@media screen and (max-width: $breakpoint-xlarge-min) {
//		@content;
//	}
//}

// Hover, Links
@mixin hover-opacity {
    transition: opacity 0.2s;
    &:hover {
        opacity: 0.7;
    }
}

// bg-cont
@mixin bg-cont-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include absolute-center;
    }
}

@mixin strokeText($size, $color) {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: $size;
    -webkit-text-stroke-color: $color;
    &::selection {
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: transparent;
        -webkit-text-stroke-color: transparent;
    }
}

@mixin button-primary {
    padding: 20px 40px;
    background-color: $clr-0;
    white-space: nowrap;
    border-radius: 40px;
    text-transform: uppercase;
    color: $clr-10;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.9px;
    display: flex;
    border: 1px solid $clr-0;
    transition: color 0.2s, background-color 0.2s;
    text-align: center;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: transparent;
        color: $clr-0;
    }
    &:active {
        opacity: 0.7;
    }
    @include media-max-s {
        padding: 14px 20px;
        font-size: 14px;
    }
}

@mixin button-secondary {
    padding: 20px 40px;
    background-color: $clr-10;
    white-space: nowrap;
    border-radius: 40px;
    text-transform: uppercase;
    color: $clr-0;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.9px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $clr-10;
    transition: color 0.2s, background-color 0.2s;
    &:hover {
        background-color: transparent;
        color: $clr-10;
    }
    &:active {
        opacity: 0.7;
    }
    @include media-max-s {
        padding: 14px 20px;
        font-size: 14px;
    }
}