// Fonts
$font-family-primary: "HelveticaNeueCyr", sans-serif;

//Colors
$primary: #621DED;
$secondary: #2870DF;
$black: #000000;
$white: #ffffff;

//Shadow

// Breakpoints
$breakpoint-small-max: 640px !default;
$breakpoint-medium-max: 1023px !default;
$breakpoint-large-max: 1199px !default;
$breakpoint-xlarge-max: 1499px !default;

$breakpoint-small-min: 640px !default;
$breakpoint-medium-min: 1024px !default;
$breakpoint-large-min: 1200px !default;
//$breakpoint-xlarge-min: 1600px !default;